@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Italic.woff")
      format("woff");
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Medium.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-MediumItalic.woff")
      format("woff");
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Blanco";
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.eot");
  src: url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.woff2")
      format("woff2"),
    url("https://d2fh6tinglf8qi.cloudfront.net/fonts/Blanco-BoldItalic.woff")
      format("woff");
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
}

:root {
  font-family: "Blanco";
}
body {
  padding: 0;
  margin: 0;
}
.bottom_btnbar {
  position: fixed;
  box-shadow: 0px -0.06rem rgba(222, 222, 222, 0.5);
  background-color: white;
  z-index: 1;
  bottom: 0;
  width: 100%;
  left: 0;
}
.nav_links {
  display: none;
}
.c_links {
  display: none;
}
.c_navtoggle {
  display: block;
}
@media screen and (min-width: 768px) {
  .bottom_btnbar {
    display: flex;
    justify-content: center;
  }
  .c_links {
    display: block;
  }
  .c_navtoggle {
    display: none;
  }
  .bottom_btnbarcont {
    transform: translateX(-50%);
  }
  .nav_links {
    display: block;
  }
}
.siudfj {
  font-weight: 700;
}
.lowsoot-logoimg {
  max-width: 4.688rem;
}
@media screen and (min-width: 768px) {
  .lowsoot-logoimg {
    max-width: 4.938rem;
  }
}
.fullimagewidth {
  width: 100%;
}
.elementsidebar {
  -ms-overflow-style: none;
  width: fit-content;
  scrollbar-width: none;
  overflow-y: scroll;
  max-width: fit-content;
  padding: 5rem 0;
  height: 25rem;
}
.elementsidebar::-webkit-scrollbar {
  display: none;
}
.selected-insidebar {
  opacity: 0.6;
  cursor: pointer;
  /* margin-top: 1rem; */
  /* margin-bottom: 1rem; */
}
.selected-insidebar:first-child {
  margin-top: 2rem;
}
.selected-insidebar:last-child {
  margin-bottom: 2rem;
}

.selected-insidebarimage {
  width: 8rem;
}
.bg-gray {
  opacity: 1;
}
.elementsidebar__text {
  text-align: center;
  font-size: 0.8rem;
}
.css-14z3kzp {
  background-color: #13e2a3 !important;
}
